body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box {
    height: 100%;
}

.box a {
    margin: 20px;
}

.sidebar ul li {
    list-style-type: none;
    padding: 15px;

}
h6{
    opacity: 0.7;
}

.footer p {
    position: absolute;
    bottom: 0;
    font-size: 12px;
}
video{
    border-radius: 10px;
}

.photo img{
    position: absolute;
    width: 160px;
    height: 100px;
    top: 10px;
    border-radius: 10px;
    right: 20px;
}
.photo img.poltek{
    left: 20px;
    height: 120px;
}